.form
  width: 100%
  display: grid
  grid-template-columns: 8fr 1fr
  height: auto
.input-search
  padding: 10px
  font-size: medium
.button-submit
  border-radius: 3px
  border: 1px solid button-submit-color
  color: button-submit-color
  font-size: medium