.form
  width: 100%
  display: grid
  grid-template-columns: 8fr 1fr
  height: auto
  padding: 20px
  box-sizing: border-box
  background: bc
.input-search
  padding: 10px
  font-size: medium
.button-submit
  border-radius: 3px
  border: 1px solid #000
  color: #000
  font-size: medium