.weather-list
  display: grid
  grid-template-columns: repeat(4,1fr)
  border-bottom: 1px solid color-border
  justify-items: center
  padding: 10px
  box-sizing: border-box
  background: light-color
  width: 85%
  margin: auto

.weather
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: 1fr
  width: 85%
  grid-gap: 10px
  background: light-color
  margin-bottom: 18px
  text-align: center
  margin: auto